<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Pokoj (historie)</h2>
      <app-room></app-room>
    </div>

    <div class="col">
      <h2>Pokoj (aktuálně)</h2>
      <app-real-time></app-real-time>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Kvetina (historie)</h2>
      <app-flower></app-flower>
    </div>

    <div class="col">
      <h2>Kvetina (aktuálně)</h2>
      <app-flower-real-time></app-flower-real-time>
    </div>
  </div>
</div>
